header {
    background-color: var(--beaver);
    height: 50px;
    position: relative;
}

header h1 {
    padding: 0;
    margin: 0;
    font-family: var(--handwriting);
    width: max-content;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

header .back-btn {
    margin: 0px 15px;
    cursor: pointer;
}