.lists-list {
    overflow-y: auto;
    max-height: calc(100vh - 50px - 20px);
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.lists-list::-webkit-scrollbar {
    background-color: var(--weird-milk);
    width: 10px;
}

.lists-list::-webkit-scrollbar-thumb {
    background-color: var(--pretty-green);
}