.lists-list {
    overflow-y: auto;
    max-height: calc(465px - 50px - 5.5px);
    margin-top: 5.5px;
}

.lists-list::-webkit-scrollbar {
    background-color: var(--weird-milk);
    width: 10px;
}

.lists-list::-webkit-scrollbar-thumb {
    background-color: var(--pretty-green);
}