.lists-list-block:nth-of-type(1) {
    margin-top: 15px;
}

.lists-list-block {
    margin: 9px 13px;
    padding: 15px;
    color: var(--pretty-dark-green) !important;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: var(--handwriting);
}

h2.title {
    font-size: 1.4rem;
}

.lists-list-block p {
    margin: 0;
    display: inline-block;
}

.lists-list-block p:not(.lists-list-block > p:nth-of-type(1)) {
    font-size: 0.64rem;
    color: var(--beaver);
}

.lists-list-block .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lists-list-block .grid-2 div:nth-of-type(2) {
    text-align: right;
}